.body {
    min-height: 95vh;
    overflow-y: scroll;
    width: 100%;
}
mat-card{
    width:95%;
    margin: 8px;
    box-shadow: 10px 10px 5px silver;
}
table{
    width: 100%;
}
tr:hover{
    background-color: aliceblue;
}
td {
    font-weight: 100;
    font-size: 0.8em;
}
.actions{
    position: relative;
    left:80%;
}
@media only screen and (max-device-width: 600px) {
    .body{
        width: 200%;
    }
    .actions {
        left: 70%;
    }
}
@media only screen and (max-device-width: 1086px) {
    .body{ 
        width: 150%;
    }
}
