<div class = "body">
    <mat-card>
            <div>
                <mat-form-field class = "filterField">
                        <input  matInput (keyup)= "filterRegions($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <button class="actions" (click)="newRegion()" type="button" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        <table mat-table [dataSource]="regions" matSort class="mat-elevation-z8 table table-hover table-striped table-condensed">
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
                <td mat-cell *matCellDef="let region;">{{region.id}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let region"> {{region.name}} </td>
            </ng-container>
    
            <!-- Latitude Column -->
            <ng-container matColumnDef="lat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
                <td mat-cell *matCellDef="let region"> {{region.latitude}} </td>
            </ng-container>
    
            <!-- Longitude Column -->
            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
                <td mat-cell *matCellDef="let region"> {{region.longitude}} </td>
            </ng-container>
            <!-- device group Column -->
            <ng-container matColumnDef="deviceGroups">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Groups </th>
                <td mat-cell *matCellDef="let region"> {{region.deviceGroups}} </td>
            </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table>
    <mat-paginator [length]= "dataLength"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[1,2, 3, 5, 10, 25, 100]"
                    (page) = "pageEvent = $event" (page) = "paginateValues(pageEvent.pageSize,pageEvent.pageIndex)">
    </mat-paginator >
    </mat-card>
</div>