.body {
    min-height: 95vh;
    overflow-y: scroll;
}

#device-avatar {
    position: relative;
    margin-top: 5vh;
    left:35%;
    right: 30%;
}

#image{
    position: relative;
    left: 26.5%;
    bottom: 5vh;
}
mat-card {
    margin: 8px;
}
table {
    width: 100%;
}
mat-form-field {
    width: 30%;
    margin: 10px;
}
.mat-slide-toggle {
    position: relative;
    left: 32%;
}
.update-button {
    position: relative;
    left:30%;
}
.delete-button {
    position: relative;
    left:58%;
}