<div class = "body">
    <!--<mat-toolbar color = "primary">
        <img class = "header-image" src = "../../../../assets/images/ndma.png" height="63vh" width = "75vw"/>
    </mat-toolbar>-->
    <mat-card class = "loginForm">
        <img  class = "ndma-logo" src = "../../../../assets/images/ndma.png" height="100vh" width = "150vw"/>
        <form [formGroup] = "loginForm" (ngSubmit) = "login()">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input type = "email" matInput formControlName = "email"/>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>password</mat-label>
                <input [type] = "inputType" matInput autocomplete="off" formControlName = "password" />
                <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">
                    <mat-icon *ngIf="visible">visibility</mat-icon>
                    <mat-icon *ngIf="!visible">visibility_off</mat-icon>
                </button>
            </mat-form-field><br>
            <button type = "submit" style = "position: relative; left: 40%;" mat-raised-button color = "primary">Login</button>
        </form>
    </mat-card>
</div>