.body {
  height:auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .body{
      width: 100%;
  }
  mat-toolbar {
      width: 100%;
  }
  mat-card {
      width: 90%;
  }
  mat-form-field {
      width: 100%;
  }
  .loginForm {
      position: absolute;
      /*background-color: teal;*/
      top: 30%;
      left: 1%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .body{
      width: 100%;
  }
  mat-card {
      position: absolute;
      width: 90%;
      /*background-color: aqua;*/
      top: 30%;
      left: 2%
  }
  mat-form-field {
      width: 75%;
      left: 10%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .body {
      width: auto;
  }
  mat-card {
      position: absolute;
      width: 60%;
      /*background-color: bisque;*/
      top: 30%;
      left: 15%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .body {
      width: auto;
  }
  mat-card {
      position: absolute;
      width: 50%;
      /*background-color: aquamarine;*/
      top: 30%;
      left: 25%;
  }
  .header-image {
    position: relative;
    left: 48%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .body {
      width: auto;
  }
  mat-card {
      position: absolute;
      width: 30%;
      /*background-color: azure;*/
      background-color: aliceblue;
      top: 25%;
      left: 35%;
  }
  .header-image {
    position: relative;
    left: 48%;
  }
  .ndma-logo{
    position: relative;
    left: 35%;
  }
}